<%# This component takes a (headerText) and a (paragraphText) to display a generic big page %>
<%# It also takes an (headerId) and a (textId) to set the id of the header and paragraph %>

<div class="bigpage">
    <h1 class="title" id="<%= headerId %>" ><%= headerText %></h1>
    <p id="<%= paragraphId %>"><%= paragraphText %></p>
    <a href="/" id="go-home">Volver a la página principal</a>
</div>