<div id="deleteModal" class="modal fade" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">¿Estás seguro de eliminar al usuario?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="confirm-delete-description">Esta acción no se puede deshacer. El usuario será eliminado permanentemente.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" id="modal-conf-delete-cancelBtn" data-bs-dismiss="modal">Cancelar</button>
                <button id="deleteButton2" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteModalContact" class="modal fade" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="confirm-contact-delete-title">¿Estás seguro de eliminar la entrada de contacto?</h1>
            </div>
            <div class="modal-body">
                <p id="confirm-contact-delete-description">Esta acción no se puede deshacer.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" id="modal-contact-delete-cancelBtn" data-bs-dismiss="modal">Cancelar</button>
                <button id="delete" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>