<div id="deleteModal" class="modal">
    <div class="modal-content">
        <h4>¿Estás seguro de eliminar al usuario?</h4>
    </div>
    <div class="modal-footer">
        <button class="secondary" id="modal-conf-delete-cancelBtn">Cancelar</button>
        <button id="deleteButton2" class="danger">Eliminar</button>
    </div>
</div>