<div id="modal-login" class="modal fade" tabindex="-1"
    aria-labelledby="modal-login-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-login-label">Bienvenido,
                    Gamer!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <%- include('./components/input-username.ejs',
                {id:"login-username-input"}) %>

                <%- include('./components/input-password.ejs',
                {id:"login-password-input"}) %>

                <a href>
                    <p>
                        ¿Has olvidado tu contraseña?
                    </p>
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="primary" id="login-submit">Iniciar
                    sesión</button>
            </div>
        </div>
    </div>
</div>