<% if (typeof user === 'undefined') { %>
<%- include('./modal-login.ejs') %>
<%- include('./modal-register.ejs') %>
<% } %>
<head>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .dropdown-content a:hover {background-color: #f1f1f1}
    </style>
</head>
<nav>
    <a href="/" id="logo-nav"></a>
    <ul class="navbar-list">
        <li><a href="/about" id="navbar-about">Sobre Nosotros</a></li>
    </ul>

    <% // Logged in Check %>
    <% if (typeof user === 'undefined') { %>
    <ul id="nav-controls">
        <li>
            <button type="button" class="secondary" data-bs-toggle="modal"
                data-bs-target="#modal-login" id="navbar-login">Inicia
                sesión</button>
        </li>
        <li>
            <button type="button" class="secondary" data-bs-toggle="modal"
                data-bs-target="#modal-register" id="navbar-signUp">Regístrate</button>
        </li>
    </ul>
    <% } else { %>
    <ul>
        <li>
            <a href="/user/<%= user.id %>">
                <%= user.username %>
            </a>
        </li>
        <li>
            <button id="logout-button" type="button" class="secondary" id="navbar-logout">Cerrar
                sesión</button>
        </li>
    </ul>
    <% } %>
    <ul>
        <div class="dropdown">
            <button id="lang-toggle">Idioma</button>
            <div id="dropdown-content" class="dropdown-content">
                <a id="ca">Català</a>
                <a id="es">Español</a>
                <a id="en">English</a>
            </div>
        </div>
    </ul>

</nav>