<%# This component takes a (ranking) object parameter to display a ranking in
'userCards' %>

<div class="brawl-ranking-container">

    <% for (user of ranking) { %>
    <%- include('../partials/components/ranking-user-card.ejs', {
    name: user.name,
    link: `/brawl/stats/${user.tag.substring(1,9)}`,
    position: user.rank,
    value: user.trophies,
    valueId: "trophies"
    })%>

    <% } %>
</div>