<%# This component takes a (game) parameter to show the summary of a game %>

<div class="brawl-game-card">
    <p><%= game.datosPartida.modo %></p>
    <p><%= game.datosPartida.mapa %></p>
    <p><%= game.datosPartida.tipo %></p>
    <p><%= game.datosPartida.duracion %>s</p>
</div>