<%# This component takes a (skinsBrawls) object parameter to display the
popular skins %>

<h3 class="container-fluid my-3" id="lol-popular-skins">Skins populares</h3>
<div class="lol-skins-showcase">
    <div class="lol-skins-container">
        <% skinsBrawls.forEach(skin => { %>
        <div class="lol-skin-card">
            <img src="<%= skin['image-url'] %>" alt="<%= skin.name %>">
            <div class="skin-info">
                <p class="skin-name"><%= skin.name %></p>
                <div class="skin-price d-flex flex-row gap-1 ">
                    <p class="release-date">
                        Fecha de lanzamiento
                    </p>
                    <p><%= skin['release-date'] %></p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
