<div class="notfoundpage">

    <h1 class="title" id="not-found">
        404 - página no encontrada.
    </h1>

    <p id="not-found-message">
        Oh no! Esta página no existe.
    </p>

    <a href="/" id="not-found-go-home">
        Volver a la página principal
    </a>

</div>
