<div class="notfoundpage">

    <h1 class="title">
        500 - Error interno del servidor.
    </h1>

    <p>
        Ups! Ha ocurrido un error en el servidor. Por favor, inténtalo de nuevo.
    </p>

    <a href="/">
        Volver a la página principal
    </a>

</div>
