<div class="bigpage">

    <h1 class="title" id="internal-server-error">
        500 - Error interno del servidor.
    </h1>

    <p id="server-error-message">
        Ups! Ha ocurrido un error en el servidor. Por favor, inténtalo de nuevo.
    </p>

    <a href="/" id="go-home">
        Volver a la página principal
    </a>

</div>
