<head>
    <link rel="stylesheet" href="/css/contact.css">
    <script src="/js/contact.js" type="module" defer></script>
</head>

<%- include('./partials/modal-contacto.ejs') %>

<main class="d-flex flex-column">
    <h1 class="title" id="contact">Contacto</h1>
    <section class>
        <h2 id="who-are-we">¿Quiénes somos?</h2>
        <p id="about-description">
            Somos un grupo de estudiantes de ciclo superior de Desarrollo de
            Aplicaciones Web en La Salle Gracia.
        </p>

        <div class="contact-user-div">
            <div class="contact-user">
                <img src="/img/about/polb.png" alt>
                <h4>Pol Ballarín</h4>
            </div>

            <div class="contact-user">
                <img src="/img/about/polc.png" alt>
                <h4>Pol Condal</h4>
            </div>

            <div class="contact-user">
                <img src="/img/about/joan.jpg" alt>
                <h4>Joan Linares</h4>
            </div>

            <div class="contact-user">
                <img src="/img/about/oscar.png" alt>
                <h4>Oscar Sanz</h4>
            </div>
        </div>

    </section>

    <section>
        <h2 id="mision-title">
            Nuestra misión
        </h2>

        <p id="mision-definition1">
            Nuestra misión es ayudarte a encontrar la información que necesitas
            para mejorar en tus juegos favoritos.
        </p>

        <p id="mision-definition2">
            Diferenciándonos de otras webs, nosotros te ofrecemos información de
            tus juegos favoritos de manera cómoda y sin distracciones.
        </p>

    </section>

    <section>
        <h2 id="how-contact-title">
            ¿Cómo contactar con nosotros?
        </h2>

        <p>
            <p id="contact-form1">Puedes contactar con nosotros a través de nuestro correo
            electrónico:</p>
            <a
                href="mailto:stevewozniakyourstats@gmail.com">stevewozniakyourstats@gmail.com</a>

            <p id="contact-form2">o a través de este formulario:</p>
        </p>

        <button type="button" class="primary" data-bs-toggle="modal"
            data-bs-target="#modal-contacto" id="contact-btn">
            Contactar
        </button>

    </section>

</main>