<head>
    <script defer src="/js/password-reset.js"></script>
</head>

<div class="bigpage">
    <h1 class="title" id="password-reset">
        Restablecer contraseña
    </h1>
    <p id="password-reset-text">
        Introduce tu dirección de correo electrónico o nombre de usuario y te
        enviaremos un enlace para restablecer tu contraseña.
    </p>

    <form id="password-reset-form" class="d-flex justify-content-center flex-column align-items-center">
        <%- include('./partials/components/input-generic.ejs', {label: 'text',
        labelText: '', id: 'identifier'}) %>

        <p class="error-text">
        </p>

        <button type="submit" class="primary" id="password-reset-submit">
            Restablecer contraseña
        </button>
    </form>
</div>