<div class="bigpage">
    <h1 class="title" id="password-reset-sent">
        Restablecimiento de contraseña enviado
    </h1>
    <p>
        Hemos enviado un enlace a tu dirección de correo electrónico para restablecer tu contraseña.
    </p>
    <a href="/" id="password-reset-sent-go-home">
        Volver a la página principal
    </a>
</div>