<%# This view receives a (user) object which represents the target user for the password reset %>

<head>
    <script defer src="/js/password-reset.js"></script>
</head>

<div class="bigpage">
    <h1 class="title" id="password-reset-enter-header">
        Hola, <%= user.username %>!
    </h1>

    <p id="password-new-text">
        Escribe tu nueva contraseña a continuación.
    </p>

    <form id="password-reset-enter-form" class="d-flex justify-content-center flex-column align-items-center">
        <%- include('./partials/components/input-generic.ejs', {label: 'password', labelText: '', id: 'password'}) %>
        <%- include('./partials/components/input-generic.ejs', {label: 'password', labelText: 'Confirma la contraseña', id: 'password-confirm'}) %>
        <p class="error-text"></p>
        <button type="submit" class="primary" id="password-reset-submit">
            Restablecer contraseña
        </button>
    </form>

    <a href="/" id="password-reset-sent-go-home">
        Volver a la página principal
    </a>
</div>