<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<%- include('./partials/components/banner.ejs') %>

<main class="banner">
    <div class="profile">
        <img src="/img/default.jpg" alt="Foto de perfil">
        <div class="user-title">
            <h1 id="currentUserName" class="title"><%= userView.username%></h1>
            <button id="changeUserNameBtn" class="primary"><i class="fa-solid fa-pencil"></i></button>
            <div class="points-div">
                <p class="points">
                    50125
                </p>
                Points
            </div>
        </div>
    </div>
    <p class="bio">
        <%= userView.bio %>
    </p>
    <button class="primary"><i class="fa-solid fa-pencil"></i></button>
</main>