
<head>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="/js/user.js" type="module" defer></script>
</head>

<%- include('./partials/components/banner.ejs', {hide:true}) %>

<main class="banner-main">
    <div class="profile">
        <div class="profile-pic-container">
            <img src="/img/storage/users/<%= userView.id %>.jpg" alt="Foto de perfil" class="profile-pic" onerror="this.onerror=null; this.src='/img/storage/users/default.jpg'">
            <button id="uploadPicBtn" class="upload-pic-btn" style="display:none;">Cambiar imagen
                <br>
                (.jpg)
            </button>
            <input type="file" id="fileInput" style="display: none;" accept="image/*">
            <p class="error-text">
            </p>
        </div>
        <div class="user-title">
            <h1 id="currentUserName" class="title"><%= userView.username%></h1>
            <button id="changeUserNameBtn" class="primary"><i
                    class="fa-solid fa-pencil"></i></button>
            <div class="points-div">
                <p class="points">
                    50125
                </p>
                Points
            </div>
        </div>
    </div>
    <div class="bio-info">
        <p id="currentUserBio" class="bio">
            <%= userView.bio %>
        </p>
        <button id="changeUserBioBtn" class="primary"><i
                class="fa-solid fa-pencil"></i></button>
    </div>
</main>