:root
{
    --trophy-color: #ffbe20;
}

#game-username-form.brawl input {
    padding-left: 3rem;
}

#game-username-form.brawl::after
{
    content: "#";
    position: absolute;

    display: block;

    left: 0;

    font-size: 1.25rem;

    padding: 0.25rem 1.25rem;

    border-radius: 15px;

    z-index: 0;
}

.brawl-container
{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    margin: 2rem 0;
    box-sizing: border-box;
}

.trophy-icon
{
    display: block;
    background-image: url('/img/brawl/trophy.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30px;
    min-width: 30px;

    width: 2.5vw;
    height: 2.5vw;
}

.brawl-user
{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;
    gap: 1rem;

    max-width: 500px;
    max-height: 160px;

    color: var(--black);

    border-radius: 10px;
    box-sizing: border-box;

    box-shadow: var(--shadow);
}

.brawl-user img
{
    align-self: flex-start;
    object-fit: contain;

    width: 150px;
}


.brawl-user-info
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 0.25rem;

    width: 100%;
    height: 100%;

}

.brawl-user-trophies
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    color: var(--trophy-color);
    font-size: 2.5rem;

    gap: 1rem;
}

.brawl-brawler
{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    color: var(--black);

    padding: 1rem;
    min-height: 100px;
    min-width: 400px;
    max-width: 450px;

    border-radius: 10px;
    gap: 1rem;

    box-shadow: var(--shadow);
    background-color: var(--brawl-bg-color);
}

.brawl-brawler img
{
    object-fit: contain;
    align-self: flex-start;
}

.brawler-info
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    gap: 1rem;
}

.brawler-trophies
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}


.brawler-trophies p
{
    color: var(--trophy-color);
    font-size: 2.5rem;
}

.brawl-games-container
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;


    margin-top: 2rem;
    gap: 1rem;

    box-sizing: border-box;
}

/* Partidas */
.brawl-game-card
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    color: var(--black);

    padding: 1rem;
    min-width: 400px;
    min-height: 100px;

    max-width: 450px;
    border-radius: 10px;
    gap: 1rem;

    box-shadow: var(--shadow);
    background-color: var(--brawl-bg-color);
}

/* Victorias */

.brawl-victory-stats
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    min-width: 350px;
    width: 50%;

    height: 100%;
    min-height: 180px;
}

.brawl-victory-item
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    color: var(--black);
    padding: 1rem;

    min-width: 100px;
    height: 100%;

    gap: 1rem;
    border-radius: 10px;

    background-color: var(--brawl-bg-color);
    box-shadow: var(--shadow);
}

.brawl-victory-item>p.value
{
    font-size: clamp(1.5rem, 2vw, 2rem);
}

@media screen and (max-width: 1024px){
    .brawl-games-container
    {
        flex-flow: column nowrap;
    }
}

@media screen and (max-width: 768px)
{
    .brawl-victory-item
    {
        flex-flow: column wrap;
        padding: 1rem;
        gap: 0.5rem;
    }
}