:root
{
    --hover-accent-color: #3FB290;
    --accent-color: #47CAA3;
    --white: #fff;
    --gray: #eee;
    --dark-gray: #C4C4C4;
    --dark: #C4C4C4;
    --black: #111;

    --shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.10);

    --input-outline: 1px solid var(--dark-gray);
    --separator-border: 1px solid #e0e0e0;

    --nav-height: 90px;
}

html
{
    box-sizing: border-box;

    height: 100%;
    width: 100%;

    font-family: 'Sen', 'Arial', sans-serif;
}

body
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333;
    background-color: var(--gray);

    height: 100%;
    width: 100%;
    min-height: 80vh;
    min-width: 100%;

    overflow-x: hidden;
}

main
{
    position: relative;
    min-height: 100vh;
    /* height: 100%; */
    width: 97.5%;

    margin: 0 auto;
    padding: 2rem 4rem;

    margin-top: 15vh;
    margin-bottom: 3rem;

    background-color: var(--white);

    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: var(--shadow);
}

main.banner-main
{
    margin-top: 30vh;
}

section
{
    margin: 2rem 0;
}

section h2
{
    margin: 0.5rem 0;
}

a
{
    text-decoration: none;
    color: var(--accent-color);
    font-size: 13px;
    cursor: pointer;
}

table td a
{
    text-decoration: none;
    color: var(--accent-color) !important;
    font-size: 13px;
}

h1.title
{
    width: 95%;
    font-size: 72px;
    font-weight: 700;
}

h1
{
    font-size: 58px;
}

h2
{
    font-size: 48px;
}

h3
{
    font-size: 36px;
}

h4
{
    margin: 2rem 0;
}

a.divisor
{
    position: relative;
    display: block;
    width: 65%;
    height: 1px;
    background-color: var(--white);
    margin: 1rem 0;

    pointer-events: none;
    cursor: none;

    z-index: 1;
}


/* Banner */
div.banner
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;

    padding: 7.5rem 5rem;
    gap: 1rem;

    position: absolute;
    top: calc(var(--nav-height) - 2px);
    min-width: 100%;
    width: 100%;
    min-height: 80vh;

    overflow: hidden;

    background-color: var(--dark);
}

.banner>h3
{
    margin-left: auto;
    text-align: end;
    margin-right: 0;

    font-size: 3rem;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--white);
    z-index: 5;
}

.banner>a
{
    margin-left: auto;
}

.banner>img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    top: 0;

    min-height: 100%;
}

.banner::after {
    content: "";
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0), var(--gray));
}

/* Navbar */
nav
{
    position: sticky;
    top: 0;
    background-color: var(--accent-color);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    padding: 0.2rem 0.5rem;

    width: 100%;
    min-width: 100%;
    min-height: var(--nav-height);
    max-height: var(--nav-height);

    box-sizing: border-box;
    z-index: 10;

    box-shadow: var(--shadow);
}

nav a
{
    color: var(--white);
    font-weight: 700;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;

}

nav>.navbar-list
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    margin: 0 2rem;

    gap: 3.5vw;
}

nav>ul#nav-controls
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    gap: 1rem;
}

nav>ul#nav-controls>li
{
    display: flex;
    align-items: center;

    max-width: 100%;
}


a#logo-nav
{
    margin: 0.1rem;

    min-width: 250px;
    min-height: 60px;

    background-image: url('/img/nav.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.error-text {
    color: red;
    font-size: 18px;
}

.server-status-card
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    width: 25%;
    gap: 1rem;
    padding: 1rem;

    border-radius: 5px;
    box-shadow: var(--shadow);
    cursor: pointer;

    transform: scale(1);

    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, transform 0.10s ease-in-out;
}

i.server-status-icon
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* Game selector */
.game-selector
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

.game-selector-grid
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 2rem 0;
}

.game-selector-grid a
{
    color: var(--black);
}

.game-selector-item
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    gap: 0.25rem;
    padding: 0.75rem;
    border-radius: 5px;

    min-height: 250px;
    min-width: 200px;

    box-shadow: var(--shadow);
    cursor: pointer;

    transform: scale(1);

    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, transform 0.10s ease-in-out;
}

.game-selector-item:hover
{
    background-color: var(--accent-color);
    transform: scale(1.05);
}

.game-selector-item:active
{
    background-color: var(--hover-accent-color);
    transform: scale(0.95);

}

.game-selector-item img
{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 5px;

}

.game-selector-item p {
    font-size: 1.1rem;
}

.game-stats-header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 3rem;
}


/* Tables */
table
{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    overflow: hidden;

    border-radius: 5px;
}

/* Headers */
thead>tr
{
    color: var(--white);

    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid var(--gray);

    background-color: var(--accent-color);
}

td
{
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid var(--gray);
}

tr:nth-child(even)
{
    background-color: var(--white);
}



button.secondary
{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 125px;
    width: 100%;
    min-height: 50px;
    margin: 1rem 0;
    padding: 0.5rem;

    background-color: var(--white);
    font-family: 'Sen', 'Arial', sans-serif;
    font-size: 1rem;

    border-radius: 5px;
    box-sizing: border-box;

    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out,
        border 0.15s ease-in-out, transform 0.10s ease-in-out;

    cursor: pointer;
    border: 5px solid var(--gray);
}

button.secondary:hover
{
    background-color: var(--gray);
}

button.secondary:active
{
    background-color: var(--dark);
    transform: scale(0.95);
}

button.primary:hover
{
    background-color: var(--hover-accent-color);
    border: 5px solid var(--hover-accent-color);
}

button.primary:active
{
    background-color: var(--hover-accent-color);
    transform: scale(0.95);
    border: 5px solid var(--hover-accent-color);
}

button.primary
{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 125px;
    width: 100%;
    min-height: 50px;

    max-width: 250px;
    margin: 1rem 0;
    padding: 0.5rem;

    color: var(--white);
    background-color: var(--accent-color);
    font-family: 'Sen', 'Arial', sans-serif;
    font-size: 1rem;

    border-radius: 5px;
    box-sizing: border-box;

    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out,
        border 0.15s ease-in-out, transform 0.10s ease-in-out;

    cursor: pointer;
    border: 5px solid var(--accent-color);
}

footer
{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    min-height: 3vh;

    padding: 3rem 2rem;
    box-sizing: border-box;

    background-color: var(--accent-color);
}

footer>ul
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 3.5vw;
}

footer a
{
    color: var(--white);
}

label
{
    display: block;
    position: relative;

    align-self: flex-start;

    padding: 0.35rem;
    padding-bottom: 0.4rem;

    border-radius: 5px 5px 0px 0px;
    margin-left: -4px;


    z-index: 0;

    background-color: var(--gray);
}



#carouselBanner {
    max-height: 650px;
    overflow: hidden;
}

#carouselBanner .carousel-item {
    position: relative;

    z-index: 5;
}

#carouselBanner .carousel-item h1 {
    position: absolute;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#carouselBanner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-next,
.carousel-control-prev
{
    z-index: 100;
}

.input-row-labeled
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    min-width: 375px;
    width: 75%;

    padding: 0.25rem;
    padding-left: 0;

    box-sizing: border-box;

}

.input-row
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    min-width: 375px;
    width: 75%;

    padding: 0.25rem;
    padding-left: 0;

    box-sizing: border-box;
}

.input-row input
{
    padding: 0.25rem;
    font-size: 18px;
    border-radius: 5px;

    border: none;
    outline: var(--input-outline);
}

.input-row-labeled input
{
    min-width: 100%;
    width: 100%;
    min-height: 35px;

    font-size: 1.20rem;

    padding: 0.1rem;
    padding-left: 5px;

    border-radius: 5px 5px 5px 5px;

    box-sizing: border-box;
    box-shadow: 0 0 0 4px var(--gray);

    z-index: 1;

    border: none;
    outline: 0 solid var(--accent-color);
}

.input-row-labeled input:focus-visible,
.input-row-labeled input:focus,
.input-row input:focus-visible,
.input-row input:focus
{
    /* border: 0.15em solid var(--accent-color); */
    outline: 2px solid var(--accent-color);
}

#game-username-form
{
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    border-radius: 1rem;
}

#game-username-form>input
{
    border-radius: inherit;
    height: 100%;
    width: 100%;

    border: none;

    font-size: 18px;

    padding: 0.75rem;
}

#game-username-form>button
{
    position: absolute;
    border-radius: inherit;
    right: 0;

    min-width: 150px;
    width: 15%;
}

#game-username-form>p.error-text
{
    position: absolute;
    top: 3em;
    color: red;
    font-size: 18px;

    align-self: flex-end;
}

.notfoundpage
{
    height: 80vh;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.notfoundpage
{
    text-align: center;
}

/* ------------------ Bootstrap Overrides -------------------- */
body.modal-open { /* Prevents modals from causing layout shift */
    overflow: visible !important;
    padding-right: 0 !important;
}

.modal
{
    z-index: 2000 !important;
}

.modal-content
{
    border: none;
    box-shadow: var(--shadow);
    align-items: center;
    justify-content: center;
}

.modal-header
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.modal-header>.modal-title
{
    position: absolute;
    margin: auto;
}

.modal-header>button.btn-close
{
    padding: 1rem 0.5rem;
    margin-right: 0;
}

.btn-close:focus
{
    outline: none;
    border: none;
    box-shadow: none;
    color: var(--black);
}

.modal-body
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.modal-backdrop.fade
{
    background-color: rgba(0, 0, 0, 0.01) !important;
}

.modal-backdrop.fade.show
{
    backdrop-filter: blur(1px);
    opacity: 1 !important;

    transition: all 0.035s ease-out;
}

.modal-backdrop.fade.show::before
{
    content: "";
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(15px);
}

.modal-footer
{
    width: 100%;
    justify-content: space-around;
}

.modal-footer>button
{
    min-width: 125px;
    max-width: 35%;
}

/* Remove Separators */
.modal-body,
.modal-footer,
.modal-header
{
    border-top: none !important;
    border-bottom: none !important;
}

button::focus
{
    outline: 0 solid var(--accent-color);
    border: none;

    box-shadow: none;
}

@media screen and (max-width: 768px)
{
    main
    {
        width: 100%;
    }
}

a.icon
{
    position: relative;
    display: block;

    overflow: hidden;
}

a.back-button {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 48px;
    min-height: 48px;

    padding: 5px;
    padding-right: 7px;
    border-radius: 10%;

    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out transform 0.10s ease-in-out;
}

a.back-button:hover
{
    background-color: var(--gray);
}

a.back-button:active
{
    background-color: var(--dark);
    transform: scale(0.95);
}

a i
{
    position: relative;
    display: block;

    min-width: 36px;
    min-height: 36px;

    width: 100%;
    height: 100%;
}

.icon-glyph-left
{
    background-image: url('/img/glyph-left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.win,
div.lol-game-card.win
{
    background-color: rgb(172, 255, 172);
}

.loss,
div.lol-game-card.loss
{
    background-color: rgb(255, 178, 178);
}