.header
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;


    max-width: 100%;
    width: 100%;
    height: 25vh;

    box-sizing: border-box;
}

.lol-general-stats
{
    display: flex;
    flex-flow: row nowrap;

    gap: 1.5rem;
}

.lol-game-card
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;


    width: 49%;
    max-width: 49%;
    min-height: 100px;
    max-height: 150px;

    background-color: var(--gray);
    box-shadow: var(--shadow);

    border-radius: 10px;
    overflow: hidden;
}

.lol-game-card-champ
{
    margin-left: 0;
}

.lol-user-champions-top
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    gap: 1rem;

}

.lol-champion-card
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    width: 30%;
    height: 100%;

    background-color: var(--gray);
    box-shadow: var(--shadow);

    border-radius: 10px;
    overflow: hidden;

}

.lol-champion-card img
{
    object-fit: contain;
    width: 135px;
    height: 135px;
}

.lol-champion-card>p
{

    padding: 0.5rem;
}

.lol-game-card-icon
{
    max-width: 100px;
    max-height: 100px;
}

.lol-game-card-icon img
{
    margin: 0;

    object-fit: contain;
    width: 100px;
    height: 100px;
}

.lol-games-div
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;

    box-sizing: border-box;

    gap: 1rem;
}

.lol-rank
{

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;


    width: 25%;
    height: 100%;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border-radius: 5%;
    background-color: var(--gray);

    box-shadow: var(--shadow);

    gap: 0.5rem;
}

.lol-rank img
{
    object-fit: contain;
    height: 100%;

    box-sizing: border-box;

}

.lol-rank>p
{
    padding-bottom: 1rem;
}

.lol-game-items
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    gap: 0.1rem;

    width: 100%;
    max-width: 175px;
    height: 100%;
}

img.lol-item-icon
{
    max-width: 38px;
    max-height: 38px;
    margin: 0;
    padding: 0;
    object-fit: contain;
    width: 38px;
    height: 38px;
}

div.lol-item-icon-empty
{
    max-width: 38px;
    max-height: 38px;
    width: 38px;
    height: 38px;

    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--black);
}