.user-title
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 100%;
}

.profile
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

main img
{
    min-width: 250px;
    min-height: 250px;
    max-width: 275px;
    max-height: 275px;

    width: 35%;

    margin: 2rem;

    object-fit: cover;
    background-color: var(--gray);
}

.profile-pic-container {
    position: relative;
    width: fit-content;
    }

    .profile-pic {
        display: block;
        width: 100%; /* o el tamaño que prefieras */
    }

    .upload-pic-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none; /* Asegúrate de que esté oculto inicialmente */
        z-index: 10; /* Asegura que el botón se muestre por encima de la imagen */
        background-color: white; /* Fondo para que el texto sea legible */
        color: black; /* Color del texto */
        border: 1px solid black; /* Hace que el botón sea más visible */
        padding: 5px 10px; /* Espaciado interno */
        cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
    }

.points-div
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    text-align: left;

    width: 100%;
}

.bio
{
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;

    border-radius: 10px;
    background-color: var(--gray);
}