<% // This object receives a (lolGame) object to display a game as a card %>

<link rel="stylesheet" href="/css/lol.css">

<div class="lol-game-card">
    <div class="lol-game-card-icon">
        <img src="/img/default.jpg" alt>
    </div>

    <div class="lol-game-card-champ">
        Monkey King
    </div>

    <div class="lol-game-card-kda">
        0 / 0 / 0
    </div>

    <p class="lol-game-card-gamemode">
        Classic
    </p>
</div>