<%# This component gets a (champ) and (name) object to display a team member %>
<%# (playername) is the current user stats name %>

<a
    <% if (name !== playername) { %>
    href="./<%= name %>" class="lol-game-card team-member">
    <% } else { %>
    class="lol-game-card team-member player">
    <% } %>
    <img
        src="/img/lol/champs/<%= champ %>.webp"
        alt>
    <p class="team-member-name">
        <%= name %>
    </p>
</a>