<%# This component takes a (summonerDetails) object parameter to display the global ranking %>

<div class="lol-ranking">
    <h3 id="lol-ranking-global">Ranking global</h3>

    <div class="lol-ranking-container">

        <% let index = 1
        summonerDetails.forEach(summoner => { %>
        <div class="lol-summoner-card">
            <div class="d-flex flex-row">
                <p class="summoner-position"><%= index++ %>.&nbsp;</p>
                <p class="summoner-name"><%= summoner.summonerName %></p>
            </div>
            <p class="summoner-points"><%= summoner.leaguePoints %></p>
            <p id="lol-league-points">League Points</p>
            </div>
        <% }) %>
    </div>
</div>
