<%# This component gets (champID), (name) and (tag) params to display a team member %>
<%# (playername) is the current user stats name %>

<a
    <% if (name !== playername) { %>
    href="/lol/stats/<%= name + '/' + tag %>" class="lol-game-card team-member">
    <% } else { %>
    class="lol-game-card team-member player">
    <% } %>
    <img
        src="/img/lol/champs/<%= champID %>.webp"
        alt>
    <p class="team-member-name">
        <%= name + ' #' + tag %>
    </p>
</a>