<% // This file takes a (loldata) object to show the stats %>

<main>
    <h1>League of Legends</h1>
    <h2>Estadísticas de <%= loldata.gameName %></h2>

    <div class="lol-rank"></div>

    <h3>Últimos 7 días:</h3>
    <p>Partidas jugadas: <%= loldata.gamesLast7Days %></p>
</main>