<!DOCTYPE html>
<html>
    <head>
        <% // Import font %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap"
            rel="stylesheet">

        <title><%= title %> - YourStats</title>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/layout.css">
    </head>
    <body>
        <%- include('partials/components/navbar.ejs') %>
        <%- body %>
    </body>
    <footer>
        <ul>
            <li><a href="/">Trabaja con nosotros</a></li>
            <li><a href="/">Contacto</a></li>
        </ul>

        <p>
            ©️ YourStats - 2024
        </p>
    </footer>
</html>