<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> - YourStats</title>
        <link rel="stylesheet" href="/css/layout.css">
    </head>
    <body>
        <%- include('partials/components/navbar.ejs') %>
        <%- body %>
    </body>
    <footer>This is the footer from the layout.</footer>
</html>