<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> - YourStats</title>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/layout.css">
    </head>
    <body>
        <%- include('partials/components/navbar.ejs') %>
        <%- body %>
    </body>
    <footer>
        <p>
            ©️ YourStats - 2024
        </p>
    </footer>
</html>