<%
const banners = [
"/img/banners/lol-a.jpg",
"/img/banners/lol-b.jpg",
]

%>

<div class="banner">
    <h3>
        Tus estadísticas, al instante
    </h3>

    <a href class="divisor"></a>

    <p>

    </p>
    <img src="<%=banners[Math.floor(Math.random() * banners.length)]%>" alt>
</div>