<%# This component takes a (mode) optional parameter to determine the game mode and display the corresponding banner and a (hide) optional parameter to hide the content %>

<%
const bannerslol = [
"/img/banners/lol-a.jpg",
"/img/banners/lol-b.jpg",
]

const bannersbrawl = [
"/img/banners/brawl-a.jpg",
"/img/banners/brawl-b.webp",
"/img/banners/brawl-c.jpg",
"/img/banners/brawl-d.jpg"
]

const bannerMode = typeof mode !== "undefined" ? mode : ""
const hideContent = typeof hide !== "undefined" ? hide : false
const text = bannerMode === "" ? "Tus estadísticas, al instante." : bannerMode === "lol" ? "League of Legends" : "Brawl Stars"

console.log(bannerMode)
console.log(hideContent)
%>

<div class="banner">

    <% if (!hideContent) { %>
    <h3>
        <%= text %>
    </h3>

    <a href class="divisor"></a>

    <p></p>
    <% } %>

    <% if (bannerMode === "lol") { %>
    <img src="<%= bannerslol[Math.floor(Math.random() * bannerslol.length)] %>"
        alt="Banner League of Legends">
    <% } else if (bannerMode === "brawl") { %>
    <img
        src="<%= bannersbrawl[Math.floor(Math.random() * bannersbrawl.length)] %>"
        alt="Banner Brawl Stars">
    <% } else { %>
    <%# If no mode, random banner %>
    <% const allbanners = bannerslol.concat(bannersbrawl) %>
    <img src="<%= allbanners[Math.floor(Math.random() * allbanners.length)] %>"
        alt="Banner">
    <% } %>

</div>