<% const gameMode = typeof mode !== "undefined" ? mode : ""
const placeholder = gameMode === "lol" ? "Introduce tu nombre de invocador" : "Introduce tu tag de jugador"
%>


<div class="w-100 p-5 input-row">

    <% // Username input form %>
    <div class="w-100 justify-content-center">
        <form id="game-username-form">

            <input type="text" name="username" id="game-username-input" required
                placeholder="<%= placeholder %>" data-mode="<%= mode %>">

            <button class="primary" type="submit">
                Buscar
            </button>
            <p class="error-text"></p>
        </form>
    </div>

</div>