<div class="game-selector">
    <h2>
        Selecciona tu juego favorito
    </h2>

    <div class="game-selector-grid">

        <a href="#">
            <div class="game-selector-item">
                <img src
                    alt>
                <p>Game</p>
            </div>
        </a>

        <a href="./lol">
            <div class="game-selector-item">
                <img src="/img/lol-logo.svg"
                    alt="League of Legends">
                <p>League of Legends</p>
            </div>
        </a>

        <a href="#">
            <div class="game-selector-item">
                <img src
                    alt="League of Legends">
                <p>Game</p>
            </div>
        </a>

    </div>
</div>