<div class="game-selector">
    <h2>
        Selecciona tu juego favorito
    </h2>

    <div class="game-selector-grid">
        <div class="game-selector-item">
            <img src="/img/lol-logo.svg"
                alt="League of Legends">
            <p>League of Legends</p>
        </div>

    </div>
</div>