<div class="w-100 p-5 input-row">

    <% // Username input form %>
    <div class="w-100 justify-content-center">
        <form id="game-username-form">

            <input type="text" name="username" id="game-username-input" required
                placeholder="Introduce tu nombre de jugador">

            <button class="primary" type="submit">
                Buscar
            </button>
            <p class="error-text"></p>
        </form>
    </div>

</div>