<div class="game-selector">
    <h2 id="Select-game">
        Selecciona tu juego favorito
    </h2>

    <div class="game-selector-grid">

        <a href="./brawl">
            <div class="game-selector-item">
                <img src="/img/brawl-logo.svg"
                    alt="Brawl Stars">
                <p>Brawl Stars</p>
            </div>
        </a>

        <a href="./lol">
            <div class="game-selector-item">
                <img src="/img/lol-logo.svg"
                    alt="League of Legends">
                <p>League of Legends</p>
            </div>
        </a>

        <a href="#">
            <div class="game-selector-item">
                <img src>
                <p>Game</p>
            </div>
        </a>

    </div>
</div>