<div class="input-row-labeled">
  <label for="password_confirmation" id="campo-confirmPassword">Confirmar Contraseña</label>
  <input type="password" name="password_confirmation"
      id="<%= typeof id !== 'undefined' ? id : '' %>" required>
</div>