<div class="input-row-labeled">
    <label for="input-role" id="campo-roleUser">Rol de usuario</label>
    <input type="text" name="input-role" id="<%= typeof id !== 'undefined' ? id : '' %>" required>
</div>