<div class="cookies-container hide" id="cookies-modal">
    <div class="d-flex flex-row cookies-header">
        Nuestro sitio web utiliza cookies.
    </div>
    <div class="d-flex flex-row justify-content-between w-100">
        <button id="cookies-reject-button" class="secondary w-50">
            Rechazar todas
        </button>
        <button id="cookies-accept-button" class="primary w-50">
            Aceptar
        </button>
    </div>
    <div class="d-flex flex-row w-100">
        <button id="cookies-configure-button" class="secondary mw-100">
            Configurar preferencias
        </button>
    </div>
</div>