<%# This components takes a (name), (labelText), and (id) as arguments %>

<div class="input-row-labeled">
    <label for="<%= name %>" class="input-generic"><%= name %></label>
    <textarea name="<%= name %>" id="<%= id %>" required></textarea>
</div>